@import 'src/styles/mixins';
@import 'src/styles/colors';

.IsaBox-module {
  box-shadow: 0 0 2px 1px #0000002b;
  border-radius: 4px;
  overflow: hidden;

  header {
    display: grid;
    grid: 1fr / 1fr 1fr;
    padding: 10px;
    background: $Indigo4;
    align-items: center;

    h2 {
      color: white;
      font-weight: normal;
      font-size: 14px;
    }

    div {
      display: flex;
      justify-content: flex-end;

      button {
        height: 32px;
        margin-right: 12px;
      }
    }
  }

  .body {
    display: grid;
    grid: 1fr / 1fr 1fr;
    background-color: white;

    .Field-component {
      background: white;
    }
  }

  footer {
  }
}
