@import '../../../../../../../styles/mixins';
@import '../../../../../../../styles/colors';

.CompanyCreateIsa-page {
  .PageContent-module > .content .page-title {
    font-size: 22px;
    @include flex-centered;

    img {
      margin-right: 24px;
      cursor: pointer;
      opacity: 0.7;
      transition: all 100ms;

      &:hover {
        opacity: 1;
      }
    }
  }

  .container {
    display: flex;
    align-items: flex-start;

    .offer-steps {
      border-radius: 10px;
      overflow: hidden;
      width: 512px;
      box-shadow: 0px 4px 16px rgba(16, 42, 67, 0.15);
    }

    .ISACalculator-module {
      margin-bottom: 24px;
    }

    .next-btn {
      padding: 8px 44px;
      text-transform: uppercase;

      img {
        margin-bottom: 2px;
      }
    }

    .faq-and-calc {
      margin-left: 32px;
    }
  }
}
