@import '../../../../../styles/mixins';
@import '../../../../../styles/colors';

.IsaStatus-module {
  transition: all 200ms;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  @include heebo-normal($size: 16);
  border-bottom: 1px solid $Border;
  transform: scale(1);

  &:hover {
    transform: scale(1.05);
  }

  &:last-child {
    border-bottom: none;
  }

  h2 {
    color: $MainSecondary;
    text-transform: capitalize;
  }

  div {
    @include heebo-normal($size: 12);
    padding: 2px 6px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;

    &.round {
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
  }
}
