@import '../../../../../styles/mixins';
@import '../../../../../styles/colors';

.SignUp-page {

  .top-wrapper {
    height: 160px;
  }

  .content {
    padding-top: 25px;
    color: white;

    .logo {
      display: flex;
      cursor: pointer;
      justify-content: center;

      p {
        font-size: 16px;
        font-weight: bold;
        color: white;
        margin-left: 12px;
      }
    }

    h2 {
      margin: 16px 0;
    }

    .FormField-auth {
      width: 512px;
      height: 360px;
      background: white;
      box-shadow: 0px 4px 16px;
      border-radius: 10px;
    }
  }
}
