@import '../../../styles/colors';

.Select-component {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #f5f5f5;

  .overlay {
    position: fixed;
    background: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  label {
    color: $BodyDarker;
    font-size: 14px;
    font-family: Gothic A1, sans-serif;
    margin-bottom: 8px;
  }

  .placeholder {
    height: 50px;
    padding: 18px 16px 16px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    text-transform: capitalize;
    color: #d4d4d4;
    position: relative;
    align-items: center;

    &.value {
      color: $GrayIndigo;
    }

    .selected-icon {
      margin-right: 12px;
    }

    .caret_down {
      margin-left: auto;
    }
  }

  .select-container {
    overflow: hidden;
    width: 100%;

    &.rippled {
      input {
        padding: 16px 0 4px;
      }
    }

    .ripple {
      position: absolute;
      color: #647acb;
      font-weight: bold;
      font-size: 10px;
      top: 10px;
      opacity: 0;
      transition: all 200ms;

      &.focused {
        opacity: 1;
        top: 4px;
      }
    }
  }

  .options {
    background: white;
    width: 100%;
    position: absolute;
    top: calc(100% + 5px);
    z-index: 10;
    left: 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }

  .option {
    font-family: Gothic A1, sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    height: 35px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: $Title;

    &.selected {
      background: $Gray1;
    }

    &:hover {
      background: $Gray1;
    }
  }

  &.has-error {
    position: relative;
    label {
      color: $MainError;
    }

    .placeholder {
      border: 1px solid $MainError;
    }

    .error {
      color: $MainError;
      font-size: 11px;
      position: absolute;
      top: calc(100% + 2px);
    }
  }
}
