.Settings-page {
  .wrapper {
    background: #ffffff;
    box-shadow: 0px 4px 16px rgba(16, 42, 67, 0.15);
    border-radius: 10px;
    width: 512px;
    padding: 20px;

    h2 {
      font-size: 16px;
      color: #19216c;
      margin-bottom: 8px;
    }

    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 16px 16px;

      .full {
        grid-column: 1 / span 2;
      }
    }

    .account_info {
      margin-bottom: 30px;
    }
  }

  @media only screen and (max-width: 600px) {
    .wrapper {
      width: calc(100% - 20px);
    }
  }
}
