@import '../../../../../../styles/mixins';
@import '../../../../../../styles/colors';

.CompanyCoaches-page {
  .content {
    > header {
      display: flex;
      width: 512px;
      position: relative;
      justify-content: center;

      button {
        position: absolute;
        right: 0;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;

        img {
          margin-right: 6px;
          height: 14px;
        }
      }
    }

    .coaches {
      width: 512px;
      background: #ffffff;
      box-shadow: 0px 4px 16px rgba(16, 42, 67, 0.08);
      border-radius: 10px;
      padding: 0 24px;

      .coach {
        padding: 16px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $Indigo1;
        transition: all 200ms;
        transform: scale(1);
        cursor: pointer;

        &:last-child {
          border-bottom: 0;
        }

        &:hover {
          transform: scale(1.05);
        }

        div {
          display: flex;
          align-items: center;

          img {
            height: 32px;
            width: 32px;
            border-radius: 100%;
            margin-right: 10px;
          }

          h2 {
            font-weight: bold;
            font-size: 10px;
            color: $Indigo4;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;

            span {
              font-weight: normal;
              font-size: 16px;
              color: $Indigo7;
              text-transform: capitalize;
            }
          }
        }
      }
    }
  }

  .new-coach {
    width: 614px;
    background: #ffffff;
    box-shadow: 0px 4px 16px rgba(16, 42, 67, 0.08);
    border-radius: 10px;

    header {
      display: grid;
      grid: 24px 1fr / 1fr 1fr;
      grid-gap: 16px;
      align-items: center;
      padding: 32px 24px;

      h2 {
        grid-column: 1 / 2 span;
        font-size: 16px;
        color: $Indigo7;
      }

      .half {
        display: grid;
        grid: 1fr / 1fr 1fr;
        grid-column-gap: 16px;

        .Select-component {
          border-radius: 5px;
        }

        button {
          height: 48px;
        }
      }
    }

    footer {
      .coach {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        border-top: 1px solid $Indigo1;

        &:last-child {
          border-bottom: 1px solid $Indigo1;
        }

        > h2 {
          display: flex;
          flex-direction: column;
          font-weight: normal;
          font-size: 16px;
          color: $Black3;

          span {
            font-size: 14px;
            color: $Black1;
          }
        }

        .Select-component {
          background-color: transparent;

          .placeholder.value {
            color: $Indigo4;
          }

          .ripple {
            display: none;
          }

          img {
            filter: $FilterGray4;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .content {
      > header {
        width: 100%;

        button {
          height: 24px;
          @include heebo-normal($size: 10);
          right: 6px;

          img {
            height: 10px;
          }
        }
      }

      .coaches {
        width: calc(100% - 40px);
      }

      .new-coach {
        width: 100%;

        header {
          grid-gap: 10px;
          padding: 12px;

          .half {
            grid-gap: 10px;
          }
        }
      }
    }
  }
}
