@import '../../../../styles/mixins';
@import '../../../../styles/colors';

.Status-module {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 25%));
  justify-content: stretch;
  height: 32px;
  align-items: center;
  justify-items: center;
  text-transform: uppercase;

  .status {
    width: 100%;
    height: 100%;
    @include flex-centered;
    justify-content: space-between;
    @include heebo-bold($size: 13);

    &:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 16px 0 16px 8px;
      border-color: transparent transparent transparent transparent;
    }

    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 16px 0 16px 8px;
      border-color: transparent transparent transparent transparent;
    }

    &.created {
      color: #147d64;
      background: #c6f7e2;

      &.selected {
        background: #147d64;
        color: white;
      }
      &.selected:before {
        border-color: transparent transparent transparent #c6f7e2;
      }
      &.selected:after {
        background: #c6f7e2;
        border-color: transparent transparent transparent #147d64;
      }
    }
    &.active {
      color: #c6f7e2;
      background: #147d64;

      &.selected {
        background: #147d64;
        color: white;
      }
      &.selected:before {
        border-color: transparent transparent transparent #c6f7e2;
      }
      &.selected:after {
        background: #c6f7e2;
        border-color: transparent transparent transparent #147d64;
      }
    }
    &.paying {
      color: #f0b429;
      background: #fff3c4;
      &.selected {
        background: #f0b429;
        color: white;
      }
      &.selected:before {
        border-color: transparent transparent transparent #fff3c4;
      }
      &.selected:after {
        background: #fff3c4;
        border-color: transparent transparent transparent #f0b429;
      }
    }
    &.completed {
      color: #bae3ff;
      background: #0967d2;

      &.selected {
        background: #0967d2;
        color: white;
      }
      &.selected:before {
        border-color: transparent transparent transparent #bae3ff;
      }
      &.selected:after {
        background: #bae3ff;
        border-color: transparent transparent transparent #0967d2;
      }
    }

    &:first-child {
      &.selected:before {
        border-color: transparent transparent transparent transparent;
      }
    }

    &:last-child {
      &.selected:after {
        border-width: 0;
        border-color: transparent transparent transparent transparent;
      }
    }
  }
}
