@import '../../../../styles/mixins';
@import '../../../../styles/colors';

.ISACalculator-module {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;

  header {
    background: #19216c;
    color: white;
    font-family: Heebo, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;

    h2 {
      font-weight: normal;
    }
  }

  .body {
    .slider-wrapper {
      background: #4c63b6;
      padding: 20px 16px;

      .titles {
        display: grid;
        grid-template-columns: 1fr 1fr;

        h2 {
          font-family: Heebo-Bold, sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          text-transform: uppercase;
          color: #bed0f7;
        }

        p {
          color: white;
          font-family: Heebo-Bold, sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
        }
      }

      .future-bill {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid #ffffff33;

        label {
          font-family: Heebo, sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          text-transform: uppercase;
          color: #bed0f7;
        }

        p {
          color: white;
          font-family: Heebo-Bold, sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
        }
      }

      .slider {
        display: flex;
        background: #FFFFFF;
        height: 4px;
        margin-top: 12px;

        input {
          margin: 0;
          width: 100%;
          padding: 0;
          border: 0;
          background: white;
        }

        input[type=range] {
          width: 100%;
          background-color: white;
          -webkit-appearance: none;
          border: 0;
          margin: 0;
        }
        input[type=range]:focus {
          outline: none;
        }
        input[type=range]::-webkit-slider-runnable-track {
          background: rgba(255, 255, 255, 0.6);
          border: 1px solid #ffffff;
          width: 100%;
          height: 4px;
          cursor: pointer;
        }
        input[type=range]::-webkit-slider-thumb {
          margin-top: -9px;
          width: 20px;
          height: 20px;
          background: #ffffff;
          border: 0;
          border-radius: 20px;
          cursor: pointer;
          -webkit-appearance: none;
        }
        input[type=range]:focus::-webkit-slider-runnable-track {
          background: #ffffff;
        }
        input[type=range]::-moz-range-track {
          background: rgba(255, 255, 255, 0.6);
          border: 1px solid #ffffff;
          width: 100%;
          height: 4px;
          cursor: pointer;
        }
        input[type=range]::-moz-range-thumb {
          width: 20px;
          height: 20px;
          background: #ffffff;
          border: 0;
          border-radius: 20px;
          cursor: pointer;
        }
        input[type=range]::-ms-track {
          background: transparent;
          border-color: transparent;
          border-width: 8px 0;
          color: transparent;
          width: 100%;
          height: 4px;
          cursor: pointer;
        }
        input[type=range]::-ms-fill-lower {
          background: #ffffff;
          border: 1px solid #ffffff;
        }
        input[type=range]::-ms-fill-upper {
          background: rgba(255, 255, 255, 0.6);
          border: 1px solid #ffffff;
        }
        input[type=range]::-ms-thumb {
          width: 20px;
          height: 20px;
          background: #ffffff;
          border: 0;
          border-radius: 20px;
          cursor: pointer;
          margin-top: 0;
        }
        input[type=range]:focus::-ms-fill-lower {
          background: rgba(255, 255, 255, 0.6);
        }
        input[type=range]:focus::-ms-fill-upper {
          background: #ffffff;
        }
        @supports (-ms-ime-align:auto) {
          input[type=range] {
            margin: 0;
          }
        }
        #future_amount::-ms-thumb {
          background: #65D6AD !important;
        }

        #future_amount::-moz-range-thumb {
          background: #65D6AD !important;
        }

        #future_amount::-webkit-slider-thumb {
          background: #65D6AD !important;
        }
      }
    }
  }

  footer {
    background: #35469c;
    padding: 16px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-family: Heebo, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;

    button {
      background: #4c63b6;
      box-shadow: 0 4px 25px rgba(74, 35, 0, 0.08);
      border-radius: 7px;
      padding: 8px 12px;
      border: 0;
      color: #e0e8f9;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Heebo-Bold, sans-serif;
      font-style: normal;
      font-size: 12px;
      font-weight: bold;

      img {
        margin-right: 8px;
      }
    }
  }

  .Message-component {
    opacity: 0.8;
  }
}
