@import '../../../../styles/mixins';
@import '../../../../styles/colors';

.ISACalculator-module {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;

  header {
    background: #19216C;
    color: white;
    font-family: Heebo, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;

    h2 {
      font-weight: normal;
    }
  }

  .body {
    .slider-wrapper {
      background: #4C63B6;
      padding: 20px 16px;

      .titles {
        display: grid;
        grid-template-columns: 1fr 1fr;

        h2 {
          font-family: Heebo-Bold, sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          text-transform: uppercase;
          color: #BED0F7;
        }

        p {
          color: white;
          font-family: Heebo-Bold, sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
        }
      }

      .future-bill {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid #ffffff33;

        label {
          font-family: Heebo, sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          text-transform: uppercase;
          color: #BED0F7;
        }

        p {
          color: white;
          font-family: Heebo-Bold, sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
        }
      }
    }
  }

  footer {
    background: #35469C;
    padding: 16px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    font-family: Heebo, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;

    button {
      background: #4C63B6;
      box-shadow: 0 4px 25px rgba(74, 35, 0, 0.08);
      border-radius: 7px;
      padding: 8px 12px;
      border: 0;
      color: #E0E8F9;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Heebo-Bold, sans-serif;
      font-style: normal;
      font-size: 12px;
      font-weight: bold;

      img {
        margin-right: 8px;
      }
    }
  }
}