@import '../../../../styles/mixins';
@import '../../../../styles/colors';

.PageHeader-module {
  height: 60px;
  padding: 0 24px;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(16, 42, 67, 0.06);
  position: relative;
  @include gothic-normal($size: 16);
  color: $Title;

  nav {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 80px 0 110px;

    .logo {
      display: flex;
      cursor: pointer;

      p {
        font-size: 16px;
        font-weight: bold;
        color: #954bde;
        margin-left: 12px;
      }
    }

    .profile {
      @include flex-centered;
      justify-self: flex-end;
      @include heebo-normal($size: 16);
      color: #19216c;

      img {
        margin-right: 18px;
        width: 40px;
        height: 40px;
        border-radius: 40px;
      }

      button {
        color: $MainPrimary;
        background: transparent;
        padding: 0;
        height: initial;
        margin-top: 5px;
        text-transform: initial;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    height: 60px;
    padding: 0;

    nav {
      display: flex;
      justify-content: space-between;
      padding: 0 20px;

      .navigation a {
        border: 0 !important;
        font-size: 14px;
        min-width: initial;
        padding: 5px 10px;
      }

      .profile {
        justify-self: center;
        border: 0;
        padding: 0;
        display: flex;
        flex-direction: initial;
        justify-content: center;

        button {
          background: $ActivePrimary;
          color: white;
          padding: 3px 10px;
          margin: 0 0 0 10px;
          font-size: 10px;
        }
      }
    }
  }
}
