@import '../../../../styles/mixins';
@import '../../../../styles/colors';

.PageHeader-module {
  height: 60px;
  padding: 0 24px;
  background: #010162;
  box-shadow: 0 4px 16px rgba(16, 42, 67, 0.06);
  position: relative;
  @include gothic-normal($size: 16);
  color: white;
  width: 100%;

  .top-wrapper {
    position: absolute;
    top: 100%;
    background: #010162;
    height: 100px;
    width: 100%;
    left: 0;
  }

  nav {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 80px 0 110px;

    .admin-link {
      color: $MainSuccess;
      font-weight: bold;

      &:hover {
        color: white;
      }
    }

    .logo {
      display: flex;
      cursor: pointer;

      img {
        height: 80px;
      }

      p {
        font-size: 16px;
        font-weight: bold;
        color: white;
        margin-left: 12px;
      }
    }

    .profile {
      @include flex-centered;
      justify-self: flex-end;
      @include heebo-normal($size: 16);
      color: #19216c;

      img {
        cursor: pointer;
      }

      a {
        display: flex;
        margin-left: 22px;
        font-weight: 600;
        font-size: 14px;
        color: #ffffff;

        img {
          margin-right: 6px;
        }
      }

      .auth-menu {
        display: flex;
        position: relative;
        margin-left: 25px;
        cursor: pointer;

        .profile_pic {
          width: 32px;
          height: 32px;
          border-radius: 32px;
        }

        .initials {
          height: 32px;
          width: 32px;
          background: $Yellow2;
          border-radius: 100%;
          @include flex-centered;

          h2 {
            font-size: 16px;
            color: $Yellow6;
            opacity: 0.8;
            text-transform: uppercase;
          }
        }

        .hidden-menu {
          position: absolute;
          top: calc(100% + 10px);
          z-index: 99;

          button {
            height: 32px;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    height: 60px;
    padding: 0;

    nav {
      display: flex;
      justify-content: space-between;
      padding: 0 10px;

      .logo img {
        height: 50px;
      }

      .admin-link {
        display: none;
      }

      .navigation a {
        border: 0 !important;
        font-size: 14px;
        min-width: initial;
        padding: 5px 10px;
      }

      .profile {
        justify-self: center;
        border: 0;
        padding: 0;
        display: flex;
        flex-direction: initial;
        justify-content: center;

        > img {
          height: 14px;
        }

        .auth-menu {
          margin-left: 15px;

          .initials {
            height: 24px;
            width: 24px;

            h2 {
              font-size: 12px;
            }
          }

          .hidden-menu {
            right: 0px;

            button {
              height: 24px;
            }
          }
        }
      }
    }
  }
}
