@import '../../../styles/colors';
@import '../../../styles/mixins';

.Input-component {
  position: relative;
  background: $Gray1;
  border-radius: 5px;
  height: 48px;
  display: flex;
  padding: 0 0 0 12px;

  .input-container {
    overflow: hidden;
    width: 100%;

    &.rippled {
      input {
        padding: 16px 0 4px;
      }
    }

    .ripple {
      position: absolute;
      color: #647acb;
      font-weight: bold;
      font-size: 10px;
      top: 10px;
      opacity: 0;
      transition: all 200ms;

      &.focused {
        opacity: 1;
        top: 3px;
      }
    }
  }

  &.with-icon {
    img {
      margin-right: 18px;
    }

    .eye-icon {
      cursor: pointer;
    }
  }

  .post-fix {
    width: 96px;
    background: #e0e0e0;
    border-radius: 0px 5px 5px 0px;
    @include flex-centered;
    font-size: 14px;
    color: #616161;
  }

  input {
    padding: 16px 0;
    color: $Title;
    width: 100%;
    @include gothic-normal();
    background: transparent;
    font-size: 16px;

    &::placeholder {
      color: $GrayIndigo;
    }
  }

  &.has-error {
    input {
      color: $MainError;
    }
  }

  .error {
    color: $MainError;
    font-size: 11px;
    position: absolute;
    top: 100%;
  }
}
