@import '../../../../styles/colors';
@import '../../../../styles/mixins';

.TableHeader-component {
  @include gothic-normal();
  color: $Title;
  display: flex;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid $Border;
  background: white;

  .header-row {
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      margin-left: 6px;
      transform: rotate(0deg);
    }
    img.active {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
}
