@import '../../../styles/colors';

.FormField-component {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  label {
    color: $BodyDarker;
    font-size: 16px;
    font-family: Gothic A1, sans-serif;
    margin-bottom: 8px;
  }

  .phone_number {
    border: 1px solid $Border;
    border-radius: 5px;
    display: flex;
    overflow: hidden;

    input {
      border-radius: 0;
      border: 0;
      width: 100%;
    }

    .phone_code {
      background: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
      font-family: Heebo, sans-serif;
      font-size: 16px;
      color: $Title;

      img {
        margin-right: 8px;
      }
    }
  }

  input {
    background: $Gray1;
    height: 50px;
    padding: 16px;
    font-size: 16px;
    font-family: Gothic A1, sans-serif;
    border: 1px solid $Border;
    border-radius: 5px;

    &::placeholder {
      color: $BodyLight;
    }
  }

  &.has-error {
    position: relative;
    label {
      color: $MainError;
    }

    input {
      border: 1px solid $MainError;
    }

    .error {
      color: $MainError;
      font-size: 11px;
      position: absolute;
      top: calc(100% + 2px);
    }
  }
}
