@import 'src/styles/mixins';
@import 'src/styles/colors';

.MyAccount-page {
  //CONTENT
  .content {
    padding: 24px 24px 0 20px;
    .title {
      font-size: 16px;
      font-weight: 500;
      color: $Indigo7;
    }
    .inputs {
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
      > div {
        flex: 1;
      }
      > div:last-child {
        margin-left: 16px;
      }
    }
    .emailInput {
      width: 100%;
      margin-top: 16px;
    }
  }

  //FOOTER
  .footer {
    height: 72px;
    margin-top: 24px;
    padding: 18px 24px 18px 20px;

    display: flex;
    justify-content: space-between;
    align-self: center;

    background-color: $Gray1;

    > button {
      border-radius: 5px;
    }
    > button:first-child {
      background-color: $Gray2;
      color: $Black2;
      text-transform: capitalize;
    }
    > button:last-child {
      text-transform: uppercase;
    }
  }

  //CHANGE PASSWORD MODAL
  .changePasswordModal {
    width: 520px;
    box-sizing: border-box;

    .modalContent {
      padding: 32px 24px 0;

      .title {
        font-size: 16px;
        font-weight: 500;
        color: $Indigo7;
      }
      .inputs {
        > div:first-child {
          margin-top: 10px;
        }
        > div {
          margin-top: 16px;
        }
      }
    }

    .modalFooter {
      box-sizing: border-box;
      background-color: $Gray1;

      padding: 18px 24px 18px 0;
      margin-top: 24px;
      border-radius: 0 0 10px 10px;

      > button {
        text-transform: uppercase;
        margin-left: auto;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .content {
      padding: 24px 12px 0;
    }

    .footer {

    }
  }
}