@import '../../../styles/colors';
@import '../../../styles/mixins';

.ButtonSelect-component {
  width: 100%;

  .option {
    padding: 12px 0;
    border: 1px solid #E0E0E0;
    background: #F5F5F5;
    @include heebo-normal($size: 16);
    color: #888499;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    transition: all 200ms;
    cursor: pointer;
    width: 100%;

    &.selected, &:hover {
      background: #bed0f7;
      border: 1px solid #647acb;
      color: #35469C;
    }

    &:first-child {
      border-radius: 5px 0px 0px 5px;
    }

    &:last-child {
      border-radius: 0px 5px 5px 0px;
    }
  }
}