@import 'src/styles/colors';

.PageContent-module {
  > .content {
    position: relative;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    flex-direction: column;

    .page-title {
      width: 512px;
      position: relative;

      font-size: 22px;
      font-weight: 500;
      color: white;
      margin-bottom: 18px;
      text-align: center;
      .page-under-title {
        font-size: 12px;
        font-weight: 500;
        color: white;
      }

      svg {
        position: absolute;
        left: 10px;
        top: 8px;
        cursor: pointer;
      }
    }
  }
}
