@import '../../../../styles/mixins';
@import '../../../../styles/colors';

.PageContent-module {
  > .content {
    position: relative;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    flex-direction: column;

    .page-title {
      color: white;
      margin-bottom: 18px;
    }
  }
}
