/* Main/Primary */
$MainPrimary: #35469C;
/* Main/Secondary */
$MainSecondary: #19216C;
/* Body Light */
$BodyLight: #8795a9;
/* Body Darker */
$BodyDarker: #5e6672;
/* Title */
$Title: #4C63B6;
/* Border */
$Border: #E0E8F9;
/* Border Dark */
$BorderDark: #c6ccd1;
/* Background */
$Background: #F0F4F8;;
/* Hover/Primary */
$HoverPrimary: #4558b8;
/* Hover/Secondary */
$HoverSecondary: #323340;
/* Active/Primary */
$ActivePrimary: #4152ab;
/* Active/Secondary */
$ActiveSecondary: #282833;
/* Main/Success */
$MainSuccess: #21b881;
/* Active/Success */
$ActiveSuccess: #18aa75;
/* Main/Error */
$MainError: #dc3545;
/* Main/Warning */
$MainWarning: #ffc107;
/* Main/Info */
$MainInfo: #17a2b8;
/* Main/Light */
$MainLight: #f2f5f9;
/* Hover/Success */
$HoverSuccess: #218838;
/* Hover/Error */
$HoverError: #c82333;
/* Active/Error */
$ActiveError: #bd2130;
/* Hover/Warning */
$HoverWarning: #e0a800;
/* Active/Warning */
$ActiveWarning: #d39e00;
/* Hover/Info */
$HoverInfo: #138496;
/* Active/Info */
$ActiveInfo: #117a8b;
/* Hover/Light */
$HoverLight: #ebeef2;
/* Active/Light */
$ActiveLight: #e4e7eb;
/* Hover/Border */
$HoverBorder: #d4dbe0;
/* Active/Border */
$ActiveBorder: #c8ced4;
